---
import SectionHeader from '../components/sectheader.tsx'
import contactInfo from '../json/contact.json'
import ContactCard from '../components/contactcard.tsx'
import ContactInfo from '../components/contactcard.tsx'
---

<article id="contacts" class="sectioncontainer scroll-m-24">
  <SectionHeader topic="Yhteystiedot">
    Kiinnostuitko? Ota siinä tapauksessa meihin yhteyttä parhaaksi kokemallasi
    tavalla.
  </SectionHeader>
  <p class="opacity-80">
    Meille on tärkeää kuulla teistä. Voitte ottaa meihin yhteyttä mukavimmalla
    tavallanne — soittamalla puhelimitse tai lähettämällä sähköpostia. Vastaamme
    mielellämme kaikkiin kysymyksiinne ja keskustelemme tarpeistanne tarkemmin.
    Asiantunteva tiimimme odottaa innolla yhteydenottoanne, ja voimme sopia
    tapaamisen tai puhelinkeskustelun juuri silloin, kun teille sopii parhaiten.
    Yhteistyö kanssanne on meille kunnia-asia, ja tavoitteenamme on tarjota
    teille parasta mahdollista palvelua.
  </p>
  <div class="flex flex-wrap justify-center item-center gap-8 py-4">
    {
      contactInfo.map((contact: ContactInfo, index: number) => (
        <ContactCard contact={contact} index={index} />
      ))
    }
  </div>
</article>
