---
import contactInfo from '../json/contact.json'

const currentYear = new Date().getFullYear()
---

<footer class="bg-secondary-600 text-primary py-10 text-sm">
  <div class="sectioncontainer max-w-2xl">
    <section class="flex gap-y-5 items-center justify-between flex-wrap">
      <div class="flex h-16 items-end gap-2">
        <img
          src="./images/hetitree.svg"
          alt="He-Ti Huolto -logo"
          class="h-full"
        />
        <img
          src="./images/heti-teksti.svg"
          alt="He-Ti Huolto -logo"
          class="h-3/4"
        />
      </div>
      <ul class="space-y-1">
        {
          contactInfo.map((contact) => (
            <li class="flex justify-end items-center gap-x-2">
              {contact.contacts[0].value}{' '}
              <img
                src={contact.image}
                alt={`${contact.title} -ikoni`}
                class="opacity-75 w-6 aspect-square"
              />
            </li>
          ))
        }
      </ul>
    </section>
    <div class="space-y-2">
      <p>
        Olemme ylpeitä voidessamme tarjota laadukasta kiinteistöhuoltoa
        Hämeenlinnan alueella. Sitoudumme huolehtimaan kiinteistöstänne
        ammattitaitoisesti ja tarkasti, tavoitteenamme edistää yhteistä
        hyvinvointiamme. Yhteydenottoanne odotellen – olkaa rohkeasti yhteydessä
        ja autetaan yhdessä luomaan toimiva ja viihtyisä ympäristö.
      </p>
      <p class="italic opacity-75 text-sm">
        &copy; He-Ti Huolto Oy — {currentYear}
      </p>
    </div>
    <nav>
      <ul
        class="flex gap-x-2 justify-center [&>li.seperator]:opacity-50 [&>li.seperator]:select-none"
      >
        <li>
          <a href="#" class="transition-all underline-offset-4 hover:underline"
            >Etusivu</a
          >
        </li>
        <li class="seperator">—</li>
        <li>
          <a
            href="#presentation"
            class="transition-all underline-offset-4 hover:underline">Meistä</a
          >
        </li>
        <li class="seperator">—</li>
        <li>
          <a
            href="#services"
            class="transition-all underline-offset-4 hover:underline"
            >Palvelut</a
          >
        </li>
        <li class="seperator">—</li>
        <li>
          <a
            href="#contacts"
            class="transition-all underline-offset-4 hover:underline"
            >Yhteystiedot</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
