---
import SectionHeader from '../components/sectheader.tsx'
import Image from '../components/image.tsx'
---

<main id="presentation" class="sectioncontainer scroll-m-24">
  <SectionHeader topic="Esittely">Keitä me olemme?</SectionHeader>
  <p class="opacity-80">
    Olemme vankkaan ammattitaitoon perustuva tiimi ja olemme sitoutuneet
    tarjoamaan ensiluokkaista kiinteistöhuoltopalvelua asukkaille ja yrityksille
    Hämeenlinnassa ja Hattulan alueella. Toimimme ylpeänä osana paikallista yhteisöä ja pyrimme
    luomaan viihtyisämpää ympäristöä koteihin ja työpaikkoihin.
  </p>
  <p class="font-bold"><i>Miksi valita meidät?</i></p>
  <p class="opacity-80">
    Valitessanne meidät valitsette paikallisen ja vastuullisen kumppanin.
    Ymmärrämme, että kiinteistöjen ylläpito vaikuttaa suoraan asukkaiden
    viihtyvyyteen ja yritysten toiminnan sujuvuuteen. Panostamme jokaiseen
    yksityiskohtaan ammattitaitoisesti ja huolellisesti, jotta voimme taata
    kiinteistöjen pitkäikäisyyden ja turvallisuuden. Tarjoamme teille
    ammattitaitoista ja luotettavaa huoltopalvelua, joka vastaa juuri teidän
    tarpeitanne. Toivomme siis saada mahdollisuuden näyttää, mitä voimme tarjota
    teille vastuullisena huoltoyhtiönä.
  </p>
  <div class="grid gap-2 xs:grid-cols-2 [&>div]:rounded-lg md:grid-cols-3">
    <Image
      src="./images/renovation.jpg"
      alt="kuva kodin pientöiden huollosta"
      title="Kodin pientöitä"
      isFirst
    />
    <Image
      src="./images/maintenance.jpg"
      alt="kuva kodin pientöiden huollosta"
      title="Kiinteistön ylläpito"
    />
    <Image
      src="./images/movinggrass.jpg"
      alt="kuva kodin pientöiden huollosta"
      title="Viher- sekä lumityöt"
    />
  </div>
</main>
