---
import SectionHeader from '../components/sectheader.tsx'
---

<main id="presentation" class="sectioncontainer scroll-m-24">
  <SectionHeader topic="Esittely">
    Tietoa meistä, historiasta ja arvoista. Miksi erotumme kilpailijoista ja
    mitä etuja asiakkaat saavat valitsemalla meidät
  </SectionHeader>
  <p>
    Tervetuloa tutustumaan kiinteistöhuoltoomme! Olemme vankkaan ammattitaitoon
    perustuva tiimi. Olemme sitoutuneet tarjoamaan ensiluokkaista
    kiinteistöhuoltopalvelua asukkaille ja yrityksille Hämeenlinnassa. Toimimme
    ylpeänä osana paikallista yhteisöä ja pyrimme luomaan viihtyisämpää
    ympäristöä koteihin, kuten myös työpaikkoihin. Kokemuksemme ja osaamisemme
    vuosien varrella ovat tehneet meistä luotettavan kumppanin kiinteistöjen
    kunnossapidossa.
  </p>
  <p><i>Miksi valita meidät?</i></p>
  <p>
    Valitessanne meidät valitsette paikallisen ja vastuullisen kumppanin.
    Ymmärrämme, että kiinteistöjen ylläpito vaikuttaa suoraan asukkaiden
    viihtyvyyteen ja yritysten toiminnan sujuvuuteen. Panostamme jokaiseen
    yksityiskohtaan ammattitaitoisesti ja huolellisesti, jotta voimme taata
    kiinteistöjen pitkäikäisyyden ja turvallisuuden. tarjoamme teille
    ammattitaitoista ja luotettavaa huoltopalvelua, joka vastaa juuri teidän
    tarpeitanne. Toivomme siis saada mahdollisuuden näyttää, mitä voimme
    tarjota teille osana laajempaa Hämeenlinnan yhteisöä.
  </p>
  <div class="grid grid-cols-2 gap-2 [&>div]:rounded-lg">
    <div class="row-span-2 overflow-hidden">
      <img
        src="./images/renovation.jpg"
        alt="placeholder"
        class="w-full h-full bg-secondary transition-all hover:scale-125"
        loading="lazy"
      />
    </div>
    <div class="overflow-hidden">
      <img
        src="./images/maintenance.jpg"
        alt="placeholder"
        class="w-full h-full bg-secondary transition-all hover:scale-125"
        loading="lazy"
      />
    </div>
    <div class="overflow-hidden">
      <img
        src="./images/movinggrass.jpg"
        alt="placeholder"
        class="w-full h-full bg-secondary transition-all hover:scale-125"
        loading="lazy"
      />
    </div>
  </div>
</main>
