---
import SectionHeader from '../components/sectheader.tsx'
---

<main id="presentation" class="sectioncontainer scroll-m-24">
  <SectionHeader topic="Esittely">
    Tietoa meistä, historiasta ja arvoista. Miksi erotumme kilpailijoista ja
    mitä etuja asiakkaat saavat valitsemalla meidät
  </SectionHeader>
  <p>
    Vitae nulla suspendisse pretium elementum feugiat feugiat ante massa.
    Gravida purus ultrices quis viverra curabitur et enim. Nec bibendum ut sed
    enim. Eu rutrum tristique dis consectetur viverra ullamcorper sit nec. Risus
    egestas.
  </p>
  <p>
    At congue suscipit nunc at id. Suspendisse aliquam mattis non in feugiat
    augue. Pharetra ac porttitor purus elementum et nunc nulla fermentum. Enim
    non vitae vitae gravida enim id mauris. Lectus et magnis ipsum et semper
    eget eu lorem. Quis risus magna in phasellus et elementum morbi. Id ut
    dictum urna quis mauris. Mauris pulvinar sollicitudin hac nulla. Felis nisi
    dignissim duis vulputate non penatibus purus.
  </p>
  <div class="grid grid-cols-2 gap-2 [&>div]:rounded-lg">
    <div class="row-span-2 overflow-hidden">
      <img
        src="/images/renovation.jpg"
        alt="placeholder"
        class="w-full h-full bg-secondary transition-all hover:scale-125"
        loading="lazy"
      />
    </div>
    <div class="overflow-hidden">
      <img
        src="/images/maintenance.jpg"
        alt="placeholder"
        class="w-full h-full bg-secondary transition-all hover:scale-125"
        loading="lazy"
      />
    </div>
    <div class="overflow-hidden">
      <img
        src="/images/movinggrass.jpg"
        alt="placeholder"
        class="w-full h-full bg-secondary transition-all hover:scale-125"
        loading="lazy"
      />
    </div>
  </div>
</main>
