---
import Navigation from '../components/navigation.tsx'

interface Props {
  title: string
}
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="He-Ti Huollon kotisivut. Lue meistä taikka tutki tarjoamamme palveluita. 
      Voit myös ottaa yhteyttä meihin helposti yhtetystieto osiosta taikka jättää yhteydenotto lomakkeen.
      Toivottavasti pääsemme kuulemaan teistä. Kiinteistöhuolto Hämeenlinna, paikallinen, toimiva, luotettava"
    />
    <meta
      name="og:description"
      content="He-Ti Huollon kotisivut. Lue meistä taikka tutki tarjoamamme palveluita. 
      Voit myös ottaa yhteyttä meihin helposti yhtetystieto osiosta taikka jättää yhteydenotto lomakkeen.
      Toivottavasti pääsemme kuulemaan teistä."
    />
    <meta
      name="og:title"
      content="He-Ti Huollon kotisivut. Palvelut, Yhteystiedot ja muuta."
    />
    <meta name="og:url" content="https://www.he-tihuolto.fi" />
    <meta name="og:image" content="./images/ogimage.webp" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./images/hetitree.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-w-[356px] leading-relaxed text-primary-100">
    <Navigation client:idle />
    <slot />
  </body>
</html>

<style is:global>
  /*import the Poppins font, used in tailwind.config.cjs*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  :root {
    --accent-gradient: linear-gradient(
      180deg,
      theme(colors.secondary.DEFAULT),
      theme(colors.secondary.700) 30%,
      theme(colors.secondary.900) 60%
    );
  }
  html {
    @apply bg-primary;
  }
  .sectioncontainer {
    @apply px-4 space-y-6 max-w-4xl mx-auto xs:px-8;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  /*scrollbar*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: theme(colors.primary.DEFAULT);
  }
  ::-webkit-scrollbar-thumb {
    background: theme(colors.secondary.DEFAULT);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme(colors.secondary.600);
  }
</style>
